@{
    Layout = "_Layout";
}

<style type="text/css">
.row{
	margin-top: 10px;
}
.row div{
	background-color:#f0f0f0;
	border: solid 1px #888;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
</style>

<h1>第10课：引入jQuery和Bootstrap前端框架</h1>
<div>
	<a href="https://www.bootcss.com/">Bootstrap学习网站</a>
</div>

<div class="container">


	<div class="row">
		<div class="col-sm-1">1</div>
		<div class="col-sm-11">11</div>
	</div>

	<div class="row">
		<div class="col-sm-2">2</div>
		<div class="col-sm-10">10</div>
	</div>

	<div class="row">
		<div class="col-sm-3">3</div>
		<div class="col-sm-9">9</div>
	</div>
		
	<div class="row">
		<div class="col-sm-4">4</div>
		<div class="col-sm-8">8</div>
	</div>

	<div class="row">
		<div class="col-sm-5">5</div>
		<div class="col-sm-7">7</div>
	</div>
		
	<div class="row">
		<div class="col-sm-6">6</div>
		<div class="col-sm-6">6</div>
	</div>

	<div class="row">
		<div class="col-sm-4">4</div>
		<div class="col-sm-4">4</div>
		<div class="col-sm-4">4</div>
	</div>

	<div class="row">
		<div class="col-sm-3">3</div>
		<div class="col-sm-3">3</div>
		<div class="col-sm-3">3</div>
		<div class="col-sm-3">3</div>
	</div>

	<div class="row">
		<div class="col-sm-2">2</div>
		<div class="col-sm-2">2</div>
		<div class="col-sm-2">2</div>
		<div class="col-sm-2">2</div>
		<div class="col-sm-2">2</div>
		<div class="col-sm-2">2</div>
	</div>
</div>