<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>.NET Core MVC</title>
</head>
<body>
	<style type="text/css">
	body{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	</style>
	<h1>第2课: 视图</h1>
	<div>
		Hello, .NET Core MVC!
	</div>
</body>
</html>