@using MerchantSupport.Tutorial

@model Lesson5Controller.Holiday[]

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>.NET Core MVC</title>
</head>
<body>
	<style type="text/css">
	body{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	</style>
	<h1>第6课: Action</h1>
	<div>
		<a href="/Lesson6/Show">去往第6课的第2个页面</a>
	</div>
	<div>
		<a href="/Lesson6/List">去往第6课的第3个页面</a>
	</div>
</body>
</html>