@{
    Layout = "_Layout";
}

@using MerchantSupport.Tutorial;

@model Lesson23Controller.HolidayVo

<style type="text/css">
.row{
	margin-top: 10px;
}
.validation-summary-errors ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.validation-summary-errors li {
  padding: 3px 0;
  color: #DC0414;
  font-weight: bold;
}
.input-validation-error{
  border: solid 1px red;
}
pre{
	margin-top: 50px;
}
</style>

<h1>第23课：修正数据</h1>
<h2>修正假日</h2>

<form action="/lesson23/update" method="post">
	<input type="hidden" asp-for="Id" />

	<div class="row">
		<div class="col-sm-3">
			<label>假日日期</label>
		</div>

		<div class="col-sm-9">
			<input type="text" asp-for="Day" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<label>假日名称</label>
		</div>
		<div class="col-sm-9">
			<input type="text" asp-for="Name" />
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9">
			<div asp-validation-summary="All"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9">
		<input type="submit" value="提交"/>
		</div>
	</div>
</form>
