<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>.NET Core MVC</title>
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="~/images/MSIcon.ico" />
</head>

<body>	
	<style type="text/css">
	body{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	img{
		margin: 20px 0;
	}
	</style>
	<div>
		<img src="~/images/logo.gif" alt="Merchant Support">
	</div>
	@RenderBody()
</body>
</html>